/**
 * Default content styles
 */

/**
 * Service content type
 */
.group-service-intro {
	padding: 30px 0;
}

/**
 * collapse pannels etc
 */

.specifications {

	.panel-heading {
		cursor: pointer;
	}

	.panel-heading.collapsed .fa-chevron-up, .panel-heading .fa-chevron-down {
		display: none;
	}

	.panel-heading.collapsed .fa-chevron-down, .panel-heading .fa-chevron-up {
		display: inline-block;
	}

}

